@{
    ViewBag.Title = "System Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Support:</strong>   <a href="mailto:info@andrewking.net.au">info@andrewking.net.au</a><br />
   
</address>