@{
    ViewBag.Title = "Index";
}
<h2>System Maintenance</h2>
<ul>
    <li>@Html.ActionLink("Compliance Forms", "Index", "ComplianceForms")</li>
    <li>@Html.ActionLink("Compliance Flow Chart Items", "Index", "Compliances")</li>
    <li>@Html.ActionLink("Suppliers Maintenance", "Index", "Suppliers")</li>
    <li>@Html.ActionLink("Category Maintenance", "Index", "Categories")</li>


</ul>